*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 177, 163);
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 100px;
    margin: 0;
}

.timer {
    text-align: center;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.timer h2 {
    margin: 0;
}

/* buttons */
.buttons_new {
    background: #FFB1A3;
    background-image: -webkit-linear-gradient(top, #FFB1A3, #FF4F30);
    background-image: -moz-linear-gradient(top, #FFB1A3, #FF4F30);
    background-image: -ms-linear-gradient(top, #FFB1A3, #FF4F30);
    background-image: -o-linear-gradient(top, #FFB1A3, #FF4F30);
    background-image: -webkit-gradient(to bottom, #FFB1A3, #FF4F30);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FF8F7B 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
 }
 
 .buttons_new:hover {
    border: solid #FF4F30 1px;
    background: #B73C26;
    background-image: -webkit-linear-gradient(top, #B73C26, #852413);
    background-image: -moz-linear-gradient(top, #B73C26, #852413);
    background-image: -ms-linear-gradient(top, #B73C26, #852413);
    background-image: -o-linear-gradient(top, #B73C26, #852413);
    background-image: -webkit-gradient(to bottom, #B73C26, #852413);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }